:root {
	--red: #dc1e34;
	--soft-black: #22272b;
	--navy: #1f2f42;
}

@font-face {
	font-family: "News-Gothic-MT-Bold";
	src: url("./assets/News\ Gothic\ MT\ Bold.ttf");
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: white;
	color: var(--soft-black);
	font-family: "News-Gothic-MT-Bold", "Lato", Helvetica, Arial, sans-serif;
	text-align: center;
}

body * {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

#logo {
	align-self: center;
}

.emphasis {
	text-decoration: underline;
	font-style: italic;
}

.top-section {
	padding: 20px 0 0px 0;
}
.media-carousel {
	padding: 20px 0 0px 0;
	display: flex;
	position: relative;
}

.slides {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
	transform: translateX(0);
}

.media-carousel .slides * {
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
	scroll-snap-align: start;
}

.media-carousel h2 {
	color: white;
	position: absolute;
	bottom: 5%;
	left: 20px;
	right: 50%;
}

.left-arrow,
.right-arrow {
	filter: invert(1);
	position: absolute;
	top: calc(50% - 25px);
	left: 20px;
}

.right-arrow {
	left: calc(100% - 70px);
}

.vid-types {
	background-color: var(--red);
	color: white;
	padding: 40px 0 40px 0;
}

.examples {
	padding: 20px 0 20px 0;
}

.call-to-action {
	padding: 20px 0 20px 0;
}

.social-plug {
	padding: 40px 0 40px 0;
}
.wrapper {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 4%;
	padding: 4%;
}

.example-pkg {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.example-img {
	width: 100%;
	height: 100%;
	border: 3px solid var(--navy);
}

.call-to-action {
	background-color: var(--navy);
	color: white;
}

h1 {
	font-size: 5em;
	margin-top: 14px;
	margin-bottom: 14px;
}
h2 {
	font-size: 3em;
	margin-top: 14px;
	margin-bottom: 14px;
}
h3 {
	font-size: 2em;
	margin-bottom: 14px;
	margin-top: 14px;
}

.freefall-reel,
.highlight-reel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 40px;
}

.tdm-movie {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 40px;
}

#highlight-reel-vid,
#tdm-movie-vid,
#freefall-reel-vid {
	width: 70%;
	aspect-ratio: 16 / 9;
}

.vid-label {
	background-color: var(--navy);
	padding: 5px;
	font-size: 1.2em;
}
